@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
	background-color: #5e5656;
	background-image: url('image/background.jpg')
}
header{
	width: 100%;
	padding: 1px;

}
.container{
	border-top: 2px solid #2e003e;
	border-bottom: 2px solid #2e003e;

	float: right;
	width: 100%;
	text-align: center;
	border-radius: 4px;

}



.container ul{
	float: left;
}
.container ul li{
	float: left;
	list-style: none;
	letter-spacing: -1px;
	margin-left: 2px;
	margin-right: 4px;

}
.container ul li a{
	text-decoration: none;
	color: #fff;
	background-color: #333;
	padding: 4px;
	border-radius: 5px;
	text-transform: uppercase;
	box-shadow: 0px 0px 10px 0px #333;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}

.container ul li a:hover{
	color: red;
}
.nav-l{
	color: #3d1e6d;
	text-transform: uppercase;
	letter-spacing: 2px;
	float: right;
	margin-top: 2px;
	padding-top: 20px;
	margin-right: 5px;
	font-size: 0.8em;

}
.col{
	width: 30%;
	border: 2px solid #000;
	margin-top: 20%;
	margin-left: 35%;
	padding:5px;
	background-color: #474747 ;
	border: none;
	border-radius: 50px;
	box-shadow: 0px 0px 10px 0px #000;
	

}

.col h1{
	color: #F7DB4F;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	font-family: "Lobster" , cursive;
}

.col button{
	border: none;
	margin: 20%;
	padding:10px;
	width: 30%;
	background-color: #363636;
	color: #A8A7A7;
	text-transform: uppercase;
	border-radius: 10px;
	margin-left: 150px;

}
.col button:hover{
	color: #E8175D;
}

